<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div>
    <h4>Login</h4>
    <p th:if="${successMessage}" th:text="${successMessage}"></p>
    <form action="/login" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input name="username" placeholder="id">
        <input name="password" type="password" placeholder="password">
        <button type="submit">login</button>
    </form>
    <a th:href="@{/register}">register</a>
</div>
<div th:if="${param.error}">
    <h4>Invalid username or password</h4>
</div>
</body>
</html>
