<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
<div>
  <h4>Register</h4>
  <p th:if="${registerError}" th:text="${registerError}"></p>
  <form action="/register" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input name="username" placeholder="id" th:value="${member != null ? member.username : ''}">
    <input name="password" type="password" placeholder="password">
    <input name="displayName" placeholder="name" th:value="${member != null ? member.displayName : ''}">
    <button type="submit">register</button>
  </form>
</div>
</body>
</html>
