<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href = "/main.css" rel = "stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<form action="/add" method="POST" >
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input name = "title">
    <input name = "price">
    <input name="image" type="hidden" id="imageUrl">
    <input type="file" onchange="getURL(this)">
    <button type = "submit">전송</button>
</form>
<img src="">

<script>
    async function getURL(e){
        let name = encodeURIComponent(e.files[0].name)
        let result = await fetch('/presigned-url?filename=' + name)
        result = await result.text();
        console.log(result)

        let res = await fetch(result, {
            method : 'PUT',
            body : e.files[0]
        })
        console.log(res)
        if(res.ok){
            document.querySelector('img').src = res.url.split("?")[0]
            document.getElementById('imageUrl').value = res.url.split("?")[0]
        }
    }
</script>
</body>
</html>
